.App {
  text-align: center;
  background-color: #ebebeb;
}

.App button {
  height: 30px;
  width: 100px;
}

.App input[type="submit"],
button {
  font-weight: bold;
  border-radius: 50px;
  background-color: lightgray;
  border: none;
}

.App input[type="submit"]:hover,
button:hover {
  cursor: pointer;
  background-color: #3a5ec9;
  color: white;
}
